# Created by .ignore support plugin (hsz.mobi)
.idea/
chapter07/chapter07.iml
chapter08/chapter08.iml
chapter08/client-generator/client-generator.iml
chapter08/data-model/data-model.iml
chapter08/flink-customer-db/flink-customer-db.iml
chapter08/flink-customer-log/flink-customer-log.iml
chapter08/flink-example1/flink-example1.iml
chapter08/web-generator/web-generator.iml
chapter09/address-flink-ingestor/address-flink-ingestor.iml
chapter09/chapter09.iml
chapter09/contacts-flink-ingestor/contacts-flink-ingestor.iml
chapter09/contacts-loader-mr-avro/contacts-loader-mr-avro.iml
chapter09/contacts-loader-mr/contacts-loader-mr.iml
chapter10/chapter10.iml
chapter10/speed-address-flink-ingestor/speed-address-flink-ingestor.iml
chapter10/speed-contacts-flink-ingestor/speed-contacts-flink-ingestor.iml
chapter11/chapter11.iml
examples.iml
chapter07/dependency-reduced-pom.xml
chapter07/target/
chapter08/client-generator/dependency-reduced-pom.xml
chapter08/client-generator/target/
chapter08/data-model/target/
chapter08/flink-customer-db/dependency-reduced-pom.xml
chapter08/flink-customer-db/target/
chapter08/flink-customer-log/dependency-reduced-pom.xml
chapter08/flink-customer-log/target/
chapter08/flink-example1/dependency-reduced-pom.xml
chapter08/flink-example1/target/
chapter08/web-generator/dependency-reduced-pom.xml
chapter08/web-generator/target/
chapter09/address-flink-ingestor/target/
chapter09/contacts-flink-ingestor/target/
chapter09/contacts-loader-mr-avro/dependency-reduced-pom.xml
chapter09/contacts-loader-mr-avro/target/
chapter09/contacts-loader-mr/dependency-reduced-pom.xml
chapter09/contacts-loader-mr/target/
chapter10/speed-address-flink-ingestor/target/
chapter10/speed-contacts-flink-ingestor/target/
chapter11/target/
